on:
  push:
    branches:
      - main
  pull_request:

jobs:
  compile_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Check that Jou version is specified consistently
      run: |
        git grep -no --color $(cat jou_version.txt)  # this is only for debugging
        n=$(git grep -o $(cat jou_version.txt) | wc -l)
        if [ $n != 3 ]; then
          echo "Error: Jou version should be mentioned only in README (twice) and jou_version.txt (once)"
          exit 1
        fi

    - name: Install dependencies (mostly Jou dependencies)
      run: sudo apt install -y libncurses-dev llvm-19-dev clang-19 make valgrind

    - name: Download and compile Jou
      run: git clone --branch $(cat jou_version.txt) https://github.com/Akuli/jou && cd jou && make -j2

    - name: Add Jou to PATH
      run: echo "$(pwd)/jou" >> $GITHUB_PATH

    - name: Run tests
      run: ./run_tests.sh

    - name: Run tests with valgrind
      run: ./run_tests.sh --valgrind

    - name: Compile main executable
      run: jou -o cursesklon src/main.jou

    - name: Run with --help option
      run: ./cursesklon --help
